@charset "UTF-8";
/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

* {
  font-family: sans-serif;
  color: black;
}

body {
  background-color: #fff;
}

body #body {
  display: flex;
  justify-content: flex-start;
}

em {
  font-style: normal;
}

.gsm {
  display: none;
}

p {
  text-align: justify;
}

a {
  color: #2980b9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 3em;
  margin-top: 3.5em;
}

h1 span {
  color: #3498db;
  font-weight: bold;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
  color: #404040;
}

h2 span {
  text-decoration: underline #3498db;
  color: #404040;
}

h3 {
  font-size: 1.5em;
  color: black;
}

.left {
  background-color: #3498db;
  width: 25%;
}

.left h3 {
  text-transform: uppercase;
  text-align: center;
  padding: 0.2em;
  font-weight: bold;
  color: #3498db;
  background-color: #404040;
}

.left img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  border-radius: 50%;
  border: solid #2980b9;
}

.left p {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  color: black;
}

hr {
  border: 0.05em solid;
  color: #3498db;
  margin-top: 1em;
  margin-bottom: 1em;
}

.right {
  margin-left: 3em;
  width: 75%;
}

ul {
  list-style: none;
}

li::before {
  content: "• ";
  color: #3498db;
}

header {
  margin-bottom: 10em;
}

.event, .boxRecommandation {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
}

.date {
  width: 35%;
}

.abstract {
  width: 55%;
}

.abstract h2 {
  font-size: 1.2em;
  font-variant-caps: small-caps;
  margin-bottom: 9px;
}

.abstract h3 {
  font-size: 1em;
  margin-bottom: 9px;
}

.eventRecommandation {
  width: 50%;
}

.eventRecommandation h3 {
  font-size: 1.2em;
  font-variant-caps: small-caps;
}

#footer {
  display: flex;
  justify-content: flex-start;
}

.hobbies {
  display: flex;
  justify-content: space-around;
}

.hobbies img {
  width: 50px;
  height: 50px;
  padding: 8px;
  margin-top: 28px;
  border: solid black;
}

.skills {
  color: #3498db;
  margin-bottom: 2rem;
}

.skillsbox {
  display: flex;
  justify-content: space-around;
}

footer p {
  color: #3498db;
  text-align: right;
  margin-right: 10px;
}

@media screen and (max-width: 1024px) {
  #body {
    display: flex;
    flex-direction: column-reverse;
  }
  p {
    font-size: 2em;
  }
  .gsm {
    display: inline;
  }
  .desk {
    display: none;
  }
  .right {
    width: 95%;
  }
  .left {
    width: 100%;
  }
  .left img {
    display: none;
  }
  .left p {
    text-align: center;
  }
  h1 {
    font-size: 6em;
  }
  h2 {
    font-size: 2.4em;
  }
  h3 {
    font-size: 3em;
  }
  ul {
    font-size: 1.5em;
  }
  br {
    display: none;
  }
  .event, .boxRecommandation {
    display: flex;
    flex-direction: column;
  }
  .date, .abstract {
    width: 90%;
  }
  .abstract h3 {
    font-size: 2.4em;
  }
  .abstract h2 {
    font-size: 2.4em;
  }
  #footer {
    display: flex;
    flex-direction: column;
  }
  .hobbies img {
    display: flex;
    width: 150px;
    height: 150px;
    margin-bottom: 28px;
  }
  .boxRecommandation {
    display: flex;
    flex-direction: row;
  }
}

/*# sourceMappingURL=master.css.map */